{% schema %}
  {
    "name": "About Us",
    "settings": []
  }
{% endschema %}

<section class="section__aboutus_main">

	<img src="{{ 'aboutus-banner.jpg' | asset_url }}" />

</section>

<section class="section__aboutus_info">

  	<div class="row__aboutus">
      
      	<h1>About Savonches</h1>
        <p>With exclusive access to new drops, Savonches guarantees you the first look at the hottest new pieces. We strive to provide our clients with the rarest products in the fashion industry.</p>
      	<p>At Savonches, we specialize in sourcing the world’s most sought after leather goods and watches. For over 5 years, we have fulfilled our clients requests for the rarest, most exclusive designer items. Our extensive fashion network allows us to serve all of your personal shopping needs. </p>
      	<p>Savonches provides its clients with the utmost level of both service and luxury. Our team works around the clock to ensure that your expectations are exceeded each time you shop with us.</p>
  
      	<!--
        <h1>About Savonches</h1>
        <h2>We want to bring you the rare exclusives of the fashion world.</h2>
        <p>We at Savonches specialize in the most sought-after leather goods & watches. For over 5 years, our passion has been to find for you the world’s hardest-to-find designer items. With Toronto being our home, our exclusive fashion network allows us to serve all of your personal shopping needs.</p>
      	
      	<span class="separator"></span>
      
      	<h2>Our philosophy is simple</h2>
      	<p>We want to bring you the rare exclusives of the fashion world.</p>
	  	<p>We at Savonches specialize in the most sought-after leather goods & watches. For over 5 years, our passion has been to find for you the world’s hardest-to-find designer items.</p>
		<p>With Toronto being our home, our exclusive fashion network allows us to serve all of your personal shopping needs.</p>
		<p>Luxury and service at its best.</p>
      	-->
  
  	</div>

</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
