{% schema %}
  {
    "name": "Consignment",
    "settings": []
  }
{% endschema %}


<section class="section__consignment_mainbanner">

  <h2>HOW IT WORKS</h2>
  <h1>consignment</h1>

</section>

<section class="section__consignment_steps">

  <h1>CONSIGNMENT IN FOUR EASY STEPS</h1>
  
  <ul>
    
    <li>
      <div class="box__step_img"><img src="{{ 'icon-step1.png' | asset_url }}" /></div>
      <h1>STEP 1</h1>
      <p>Inspect your items and fill out the form below. (No rips, tears, stains, or holes unless distressed or vintage)</p>
    </li>
    
    <li>
      <div class="box__step_img"><img src="{{ 'icon-step2.png' | asset_url }}" /></div>
      <h1>STEP 2</h1>
      <p>Once approved, your consignment agreement and shipping label will be emailed to you.</p>
    </li>
    
    <li>
      <div class="box__step_img"><img src="{{ 'icon-step3.png' | asset_url }}" /></div>
      <h1>STEP 3</h1>
      <p>Ship your items to us with our complementary shipping label.</p>
    </li>
    
    <li>
      <div class="box__step_img"><img src="{{ 'icon-step4.png' | asset_url }}" /></div>
      <h1>STEP 4</h1>
      <p>Once received, your items will be listed on the website & third party marketplaces. Payouts occur when the item is sold.</p>
    </li>
    
  </ul>


</section>

<section class="section__consignment_commission">

  <h1>COMMISSION</h1>
  
  <ul>
  
    <li class="col__standard_commission">
      
      <h1>$500 - $1000</h1>
      <p>You earn <strong>70%</strong> of selling price</p>

    </li>

    <li class="col__standard_commission">

      <h1>$1000 - $2000</h1>
      <p>Your earn <strong>75%</strong> of selling price</p>

    </li>

    <li class="col__standard_commission">

      <h1>$2000+</h1>
      <p>You earn <strong>80%</strong> of selling price</p>

    </li>
    
  </ul>
  
  <p>After your items sell, you will be paid via our Paypal, Venmo, TransferWise, otherwise bank wire for larger amounts.</p>


</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}