{% schema %}
  {
    "name": "Home Main Banner",
    "settings": []
  }
{% endschema %}


<section class="section__homemainbanner">

  <h1>LUXURY SHOPPING<br>AT YOUR FINGERTIPS.</h1>
  <a href="/collections/all?sort_by=created-descending">SHOP NEW ARRIVALS</a>
  
</section>



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
