{% schema %}
  {
    "name": "Exclusives Contain",
    "settings": []
  }
{% endschema %}

<section class="section__exclusives_contain">

  <div class="introduction-text">
  <h1>FROM YOUR WISHLIST TO YOUR WARDROBE: AN ELUSIVE CURATION OF FASHION’S FINEST CREATIONS</h1>
  <p>Welcome to Savonches, your premier destination for the most sought-after clothing & Accessories. With over five years of expertise in the industry, our passion lies in procuring the world's hardest-to-find designer items. Our exclusive fashion network allows us to serve all of your personal shopping needs.</p>
  </div>
  
  <ul class="list__collections_exclusivescontain">
    <li>
      	<div>
    		<img src="{{ 'Clothing-Collection.jpg' | asset_url }}" />
      	</div>
      	<h2>LOUIS VUITTON & MORE</h2>
      	<h1>Clothing</h1>
      	<a href="" class="shop_clothing_link">SHOP CLOTHING</a>
    </li>
    <li>
      	<div>
    		<img src="{{ 'bags-collection.png' | asset_url }}" />
      	</div>
      	<h2>DIOR & MORE</h2>
      	<h1>Bags</h1>
      	<a href="" class="shop_bags_link">SHOP BAGS</a>
      	<!-- <a href="/collections/types?q=Bags">SHOP BAGS</a> -->
    </li>
    <li>
      	<div>
    		<img src="{{ 'Shoe-Collection.png' | asset_url }}" />
        </div>
      	<h2>CHANEL & MORE</h2>
      	<h1>Shoes</h1>
      	<a href="/collections/types?q=Shoes">SHOP SHOES</a>
    </li>
  </ul>

</section>


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
