{% schema %}
  {
    "name": "Sell to us",
    "settings": []
  }
{% endschema %}

<section class="section__selltous">

  <h2>SELL TO US</h2>
  <h1>Get a Buyout Offer</h1>
  <p>We want to buy your items! Fill out the form below and we'll send you an offer.</p>

</section>

{formbuilder:82612}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
