{% schema %}
  {
    "name": "Shiping and Refunds",
    "settings": []
  }
{% endschema %}

<section class="section__shippingandrefunds">

  	<h1>{{ page.title | escape }}</h1>
  
  	<div class="box__info_shippingandrefunds">
  
      {{ page.content }}
  
  	</div>

</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
