{% schema %}
  {
    "name": "Testimonials",
    "settings": []
  }
{% endschema %}


<section class="section__testimonials">
  
  	<div class="col__right_testimonials only__mobile">
    
      	<img src="{{ 'home-buyoutoffer.jpg' | asset_url }}" />
      
  	</div>

    <div class="col__left_testimonials">

      <div class="box__selltous">
      
        <h2>SELL TO US</h2>
        <h1>Get a Buyout offer</h1>
        <p>Get a free buyout offer on your designer items. Fill out a quick form, snap some photos & find out what we’d pay for your items today!</p>
        <a href="/pages/selltous">SELL TO US</a>
      
      </div>
      
      <!--
      <ul class="box__testimonial_slider">
        
        <li>
          <h3>REAL CUSTOMER TESTIMONIALS</h3>
          <h1>Excellent seller. super nice, good price, fast shipping. Definitely would buy from him again!</h1>
          <h2>NOA, CALIFORNIA</h2>
          <p>VERIFIED BUYER</p>
        </li>
        
        <li>
          <h3>REAL CUSTOMER TESTIMONIALS</h3>
          <h1>Excellent seller. super nice, good price, fast shipping. Definitely would buy from him again!</h1>
          <h2>NOA, CALIFORNIA</h2>
          <p>VERIFIED BUYER</p>
        </li>
        
        <li>
          <h3>REAL CUSTOMER TESTIMONIALS</h3>
          <h1>Excellent seller. super nice, good price, fast shipping. Definitely would buy from him again!</h1>
          <h2>NOA, CALIFORNIA</h2>
          <p>VERIFIED BUYER</p>
        </li>
		-->
        
      </ul>
      
    </div>
  
	<div class="col__right_testimonials only__desktop">
    
      	<img src="{{ 'home-buyoutoffer.jpg' | asset_url }}" />
      
  	</div>

</section>


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
